#jumbotron{
    background-image:url("hero.jpg");
    background-size: cover;
    color:white;
    opacity:0.7;
    padding-bottom:20px;
    padding-top:20px;
}

body{
    background-color:aliceblue;
}

.testodescrizione{
    text-overflow: ellipsis;
    flex-wrap: nowrap;
    overflow: hidden;
}

.card{
    height:100%;
}

.card.shadow{
    box-shadow: 50px 50px 50px;
}

.offertadelgiorno{
    display:flex;
    flex-direction:column;
    align-items:flex-start;
}

.card-img-top{
    height:20%;
}

.checked {
    color: orange;
  }

  #numeroviaggi{
    text-align:center;
    color:black;
  }

  .nascosto{
    display:none;
  }

  .hot{
    color:black;
    background-color:red;
    }